<section id="use-safe">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-6">
        <h2 class="section-title mb-2">Use Safe</h2>
        <p class="subhead-large mb-2">Our talented community is dedicated to building SafeCoin into The Safety solution for cryptocurrency</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center use-safe-link-row">
      <div class="col use-safe-link">
        <a href="{{site.baseurl}}/exchanges/" class="use-safe-link-block wobble">
          <img src="/assets/img/icons/money.png" class="icon">
          <h4>Buy SafeCoin</h4>
        </a>
      </div>
      <div class="col use-safe-link">
        <a href="{{site.baseurl}}/wallets/" class="use-safe-link-block wobble">
          <img src="/assets/img/icons/safe.png" class="icon">
          <h4>Download Wallets</h4>
        </a>
      </div>
      <div class="col use-safe-link">
        <a href="{{site.baseurl}}/mining-pools/" class="use-safe-link-block wobble">
          <img src="/assets/img/icons/mining.png" class="icon">
          <h4>Mining Pools</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-6">
        <h2 class="lined-subtext green">Merchants</h2>
      </div>
    </div>
    <div class="row justify-content-center feature-row">
      <div class="col-lg-3">
        <div class="feature-item">
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
        <div class="feature-item">
        </div>
        <div class="feature-item">
          <h4>Peer-to-Peer Payments</h4>
          <ul>
            <li>BitCash App integration (1Q 2018)</li>
            <li>Safe Wallets Business-to-Business!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
