---
title: SafeCoin - Safe, Secure, Smart
layout: homepage
type: homepage
---

{% include homepage/hero.html %}

{% include homepage/about.html %}

{% include homepage/features.html %}

{% include homepage/tech.html %}

{% include homepage/roadmap.html %}

{% include homepage/whitepaper.html %}

{% include homepage/team.html %}

{% include homepage/usesafe.html %}

{% include homepage/resources.html %}

{% comment %}
<section id="media-mentions">
  <div class="container-fluid">
    <div class="row">
      <h2 class="lined-subtext">Safe Featured In</h2>
    </div>
  </div>
</section>
{% endcomment %}

<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="lined-subtext">Blog</h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div id="blogPosts" class="row mt-3 mb-5">
          <!--Generated list items will go here-->
        </div>
        <p>
          <a href="https://blog.safecoin.org/" class="btn btn-lg btn-primary" target="_blank">More Blog Posts</a>
        </p>
      </div>
    </div>
  </div>
</section>
