<section id="resources">
  <div class="container-fluid">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <img class="subhead-image" src="/assets/img/icons/saferesources.png">
      </div>
    </div>
    <div class="row justify-content-center text-center mt-5">
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h3>Safe Mining Profit Calculator</h3>
            <p>
              <a href="https://whattomine.com/" class="btn btn-lg btn-primary" target="_blank">Coming</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h3>Safe Mining Pool Forum Topic</h3>
            <p>
              <a href="https://forum.safecoin.org" class="btn btn-lg btn-primary" target="_blank">Go</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h3>Block Explorers</h3>
            <div class="inline-buttons">
              <a href="http://explorer.safecoin.org/" class="btn btn-primary" target="_blank">1</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
