<strong>GUI Wallets available for linux, mac, and windows:</strong><br />
<a href="{{site.wallets.safewalletwin}}">GUI Wallets (Full Node, Atomic Swaps coming)</a><br />
<a href="{{site.wallets.safewalletmac}}">GUI Wallets (Full Node, Atomic Swaps coming)</a><br />
<a href="{{site.wallets.safewalletlin}}">GUI Wallets (Full Node, Atomic Swaps coming)</a><br />
<a href="{{site.wallets.safecoinwin}}">Client Wallet (Full Command Line Utility)</a><br />
<a href="{{site.wallets.safecoinmac}}">Client Wallet (Full Command Line Utility)</a><br />
<a href="{{site.wallets.safecoinlin}}">Client Wallet (Full Command Line Utility)</a>
